<%layout("layouts/boilerplate")%>

<div class="row mt-3">
  <div class="col-8 offset-3">
    <h3><%= listing.title %></h3>
  </div>
  <div class="card col-6 offset-3 show-card">
    <% const showImage = listing.image ||
    'https://images.unsplash.com/photo-1773489425315-2b7664fdb068?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D';
    %>
    <img
      src="<%= showImage %>"
      class="card-img-top show-img"
      alt="listing-image"
    />
    <div class="card-body">
      <p class="card-text">
        <%= listing.description %><br />
        &#8377; <%= listing.price.toLocaleString("en-IN") %><br />
        <%= listing.location %><br />
        <%= listing.country %><br />
      </p>
    </div>
  </div>

  <br />
  <div class="btns">
    <a
      href="/listings/<%= listing._id %>/edit"
      class="btn btn-dark col-1 offset-3 edit-btn"
    >
      Edit
    </a>

    <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
      <button class="btn btn-dark offset-5">Delete Listing</button>
    </form>
  </div>

  <div class="col-8 offset-3 mb-3">
    <hr />
    <h4>Leave a review</h4>
    <form action="/listings/<%=listing.id%>/reviews" method="POST" novalidate class="needs-validation">
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <input
          class="form-range"
          type="range"
          min="1"
          max="5"
          id="rating"
          name="review[rating]"
        />
      </div>
      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comments</label>
        <textarea
          name="review[comment]"
          class="form-control"
          id="comment"
          cols="30"
          rows="5"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter a comment for review</div>
      </div>

      <button class="btn btn-outline-dark">Submit</button>
    </form>
  </div>
</div>
